	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" th:href="@{/footer.css}" />


</head>
<body>
	
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		
		<footer id="main-footer" class="add-padding border-top-color2">
		
			<div class="container">
				<p class="big-text">CONTACT ME</p>
				<p>+919999999999</p>
				<p class="text-center">Copyright &copy; 2021 Sporty Shoes.</p>
			</div>
			
		</footer>
		</body>
</html>
		